@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: inherit;
  }

  *:before {
    box-sizing: inherit;
  }

  *:after {
    box-sizing: inherit;
  }

  html {
    box-sizing: border-box;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    width: 100%;
    height: 100vh;
  }

  body {
    /* @apply bg-base fg-text-base antialiased; */
    @apply antialiased;
    word-wrap: break-word;
    height: 100vh;
  }

  :root {
    --font-sans: "Nunito Sans", sans-serif;
    --font-heading: "Simplifica", sans-serif;
    --font-mono: "Menlo", sans-serif;

    /* prefixed with foreground because it should look good on the background */
    --foreground-destructive: 345 82.7% 40.8%;

    --frame: theme("colors.slate.200");
    --background: theme("colors.slate.50");
    --foreground: 222.2 84% 4.9%;

    --muted: 210 40% 93%;
    --muted-foreground: 215.4 16.3% 30%;

    --popover: theme("colors.slate.50");
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --input-invalid: 0 84.2% 60.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: theme("colors.sky.950");
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: theme("colors.slate.50");
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 70% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }
}
