{
  "*.{ts,mts,tsx,js,cjs,jsx}": ["oxlint -c=./oxlintrc.json --tsconfig=./tsconfig.json", "eslint"],
  "*.{ts,mts,tsx,js,cjs,jsx,md,prisma,json,yml,html,css}": "biome format",
  "*.{ts,mts,tsx}": "bash -c tsc"
}
